
@media screen and (max-width: 800px) {
  #body{
  background-color: brown;
  max-width: 100%;
  }

  .login-box{
    width: 280px;
    position: absolute;
    top: 20%;
    transform: translate(-135%,-101%);
    color: black;
  }
}

@media screen and (max-width: 400px) {
  #body{
    background-color: brown;
    max-width: 100%;
  }

  .login-box{
    width: 280px;
    position: absolute;
    top: 20%;
    transform: translate(-135%,-101%);
    color: black;
  }
}

@media screen and (max-width: 300px) {
  #body{
    max-width: 100%;
    background-color: brown;
    ;
  }

  .login-box{
    width: 280px;
    position: absolute;
    top: 20%;
    transform: translate(-135%,-101%);
    color: black;
  }
}

body{
  display: flex;
  max-width: 100%;
  height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(./images/bg.jpg) no-repeat;
  background-size: cover;
}

html{
  max-width: 100%;
  display: flex;

}


.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-135%,-101%);
  color: black;
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: gold;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}
